.avenga-footer {
  --timestep: 0.0;
  background-image: paint(avenga);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  animation: 3s infinite ease-in-out waves;
}

@keyframes waves {
  from { --timestep: 0.0 }
  to { --timestep: 1.0 }
}
